# VSCode ignores
.vscode

# build directory ignores
**/[Bb]uild*

# additional ignores
[Dd]ata
[Tt]ests

# Python ignores
**/__pycache__
**/*.egg-info
**/.venv

# Ignore GitLab documentation folder
public
